
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0 ;
}

body {
    min-height: 100vh;
    background-image: url(./assets/image/bg_denteDeLeao.webp);
    background-repeat: no-repeat;
    background-size: cover ;
}
.title-card{
    height: 100px;
    width: 100px;

}