*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


body{

    /* Positioning */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: white;

    background-image: url("./image/bg_denteDeLeao.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    text-align: center;
    margin-bottom: 20px;

}

header h1 {
    font-size: 2.5em;
    color: #fff;

}

header p {
    font-size: 1.2em;
}

main{
    display: flex;
    gap: 20px;
    width: 80%;
    max-width: 1200px;
}

.left-section, .rigth-section{

    background-color: rgba(112, 112, 112, 0.411);
    padding: 20px;
    border-radius: 10px;
    flex: 1;
}



.card {
    background-color: rgba(66, 66, 66, 0);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    border-color: rgba(66, 66, 66, 0);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

form h2{
    font-size: 28px;
}

form label{
    margin: 5px 0 5px;
}

form input{
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button{
    width: 80%;
    /* background-color: #007bff; */
    background-color:rgba(169, 214, 229, 0.5);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    transition: 0.5s;
}

form button:hover {
    background-color: #0056b3;
}